.file-upload {
    position: relative;
}

.file-upload:before {
    content: '';
    display: block;

    width: 10%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
}

.file-upload-button {
    border: 1px solid #dddddd;
    border-radius: 10px;
}

.button-file-upload {
    border-radius: 5px;
}