.UploadDocument {
    &-item {
        display: inline-block;
    }
    &-wrapper {
        text-align: left;
        width: 100%;
        @include media-breakpoint-down(md) { 
            text-align: center;
        }
    }
}