.CustomBreadcrumb {
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;
    top: 60px;
    width: 100%;
    z-index: 1050;
    &-content{
        background-color: #B3D3DF;
        border-radius: 5px;
        padding: 2px 15px;
    }
}