.CustomBreadcrumb {
    margin-top: 50px;
    padding: 10px 15px;
    position: fixed;
    width: 100%;
    z-index: 1050;
    &-content{
        background-color: #B3D3DF;
        border-radius: 5px;
        padding: 2px 15px;
    }
}