.select-form-customized {
	width: 280px;
}

.select-form-customized__item {
	padding: 5px !important;
}

._invalid {
	border-bottom: 1px solid;
	border-bottom-color: red;
}

.select-custom {
	padding-left: 5px !important;
}
