.search-bar {
	margin-left: 20px;
}

.search-bar__input {
	padding: 6px;
	font-size: 17px;
	border-radius: 5px 0 0 5px;
	border: 1px solid #0639b4;
	outline:none;
	width: 30vw;
}

.search-bar__button {
	background: #0639b4;
	font-size: 17px;
	cursor: pointer;
	color: #ffffff;
	padding: 6px 10px;
	border-radius: 0 5px 5px 0;
	border: 1px solid #0639b4;
}


