/**
 + Application design
 */
.applicant-avatar {
    width: 180px;
    height: 180px;
    border-radius: 15px;

    background: #eeeeee;
}

.applicant-card {
    width: 100%;
    min-height: 10vh;
    background: #ffffff;
    border-radius: 8px;
    overflow: hidden;
    margin: .5em;
    box-shadow: 0 3px 5px rgba(112, 112, 112, 0.10);
    font-weight: 100 !important;
    transition: all .450s;
}

.applicant-card__header {
    width: 100%;
    height: 80px;
    padding: 1.5em;
    background: rgba(247, 253, 255, 0.60);
    border-bottom: 1px solid #F0F0F0;

    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
}

.applicant-card__footer {
    width: 100%;
    height: 80px;
    padding: 1.5em;
    background: rgba(247, 253, 255, 0.60);
    border-top: 1px solid #F0F0F0;

    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.applicant-card__title {
    color: #0092BD;
    font-weight: 100 !important;
    font-size: 1.4em;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.applicant-card__edit-button,
.applicant-card__save-button,
.applicant-card__cancel-button {
    padding: .3em 1.5em;
    border-radius: 5px;
    color: #0092BD;
    border: 1px solid #0092BD;
    outline: none;

    transition: all .450s;
    font-size: .9em;
    font-weight: 100 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.applicant-card__save-button {
    background: #0092BD;
    color: #ffffff;
    font-size: 1em;
    margin: 5px;
}

.applicant-card__cancel-button {
    background: #DDDDDD;
    color: #707070;
    border: 1px solid #D5D5D5;
    font-size: 1em;
    margin: 5px;
}

.fa-edit {
    margin-left: 5px;
}

.applicant-card__edit-button:hover,
.applicant-card__save-button:hover {
    background: #0092BD;
    color: #ffffff;
}

.applicant-card__label {
    width: 100%;
    font-size: .85em;
    font-weight: 100 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.linear-border {
    width: 100%;
    height: 100%;
    background: red;
}

.form-control {
    transition: all .450s;
    font-weight: 100 !important;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif !important;
}

.general-info-apply-form input:disabled,
.general-info-apply-form select:disabled,
.general-info-apply-form textarea:disabled {
    background: #ffffff !important;
    border: 1px solid #ffffff !important;
    border-bottom: 1px solid #efefef !important;
    color: #999;
}

select {
    height: 36px;
}

/** Skeleton effect **/
.skeleton {
    position: relative;
    overflow: hidden;
    width: 100%;
}

.skeleton::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #dedede !important;
    border-radius: 5px;
    z-index: 2000;
}

.skeleton::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    background: linear-gradient(90deg, #dedede, #cccccc, #dedede);
    animation: progress 1s ease-in-out infinite;

    z-index: 3000;
}

@keyframes progress {
    0% {
        transform: translate3d(0%, 0, 0);
    }
    100% {
        transform: translate3d(0%, 0, 0);
    }
}