@import "https://use.fontawesome.com/releases/v5.3.1/css/all.css";
.modal-overflow {
  overflow-x: scroll; }
  .modal-overflow .list-item-container-scroll {
    min-width: 500px; }

.Header-mobileMenu {
  color: #FFF;
  margin-left: 1rem;
  -webkit-transition: margin-left .5s ease-out;
  -o-transition: margin-left .5s ease-out;
  transition: margin-left .5s ease-out;
  margin-bottom: 0;
  position: absolute;
  top: 4px;
  display: none; }
  @media only screen and (max-width: 768px) {
    .Header-mobileMenu {
      display: block; } }

.icon-menu {
  visibility: hidden; }

.main-container__title {
  width: 100% !important; }

.MainMenu-option {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  list-style: none;
  text-transform: uppercase; }
  .MainMenu-option .menu__item {
    height: 60.41px !important; }

.MenuMobile {
  background-color: #254151;
  clear: both;
  height: 100%;
  overflow: hidden;
  -webkit-transition: width .5s ease-out;
  -o-transition: width .5s ease-out;
  transition: width .5s ease-out;
  position: absolute;
  left: 0;
  z-index: 99;
  width: 0px; }
  @media only screen and (min-width: 768px) {
    .MenuMobile {
      display: none; } }
  .MenuMobile-callback {
    display: none; }
  .MenuMobile-callback:checked ~ .MenuMobile {
    width: 45px; }
  .MenuMobile-callback:checked ~ .Header-mobileMenu {
    margin-left: 3rem; }
  .MenuMobile-link {
    color: #FFF;
    display: block;
    text-transform: uppercase;
    width: 100%; }
    .MenuMobile-link:hover {
      color: #b7d433;
      text-decoration: none; }
  .MenuMobile-wrapper {
    margin: 0;
    padding: 0;
    text-align: center; }

.nav-title {
  display: none; }

.nav-expanded .nav-title {
  display: block; }

.nav-expanded .icon-right {
  -moz-transform: scaleX(-1);
  -o-transform: scaleX(-1);
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  -webkit-filter: FlipH;
  filter: FlipH;
  -ms-filter: "FlipH"; }

@media only screen and (max-width: 480px) {
  .card-form-row {
    display: block !important; }
    .card-form-row .input-form {
      width: 100% !important; } }

.card-form-company {
  height: 665px; }

@media only screen and (max-width: 480px) {
  div[class*="MuiDialogContent-root-"] {
    min-width: auto !important; } }

@media only screen and (max-width: 480px) {
  .department__header {
    display: block !important;
    height: auto !important; }
    .department__header div[class*="withApollo-DepartmentsCompanyForm--root-"] {
      display: inline-block !important; } }

@media only screen and (max-width: 480px) {
  div[class*="MuiTabs-fixed-"] {
    overflow-x: scroll !important; } }

.main-contract__content {
  width: 100% !important; }
