@media (max-width: 760px) {
	.main-container {
		width: 100% !important;
	}
}

.main-container {
	width: 96%;
	height: 100vh;
}

.main-container--header {
	height: 50px;
	background: rgba(0,145,189,1);
	background: -moz-linear-gradient(45deg, rgba(0,145,189,1) 0%, rgba(0,145,189,1) 50%, rgba(36,155,195,1) 50%, rgba(36,155,195,1) 51%, rgba(36,155,195,1) 71%, rgba(36,155,195,1) 100%);
	background: -webkit-gradient(left bottom, right top, color-stop(0%, rgba(0,145,189,1)), color-stop(50%, rgba(0,145,189,1)), color-stop(50%, rgba(36,155,195,1)), color-stop(51%, rgba(36,155,195,1)), color-stop(71%, rgba(36,155,195,1)), color-stop(100%, rgba(36,155,195,1)));
	background: -webkit-linear-gradient(45deg, rgba(0,145,189,1) 0%, rgba(0,145,189,1) 50%, rgba(36,155,195,1) 50%, rgba(36,155,195,1) 51%, rgba(36,155,195,1) 71%, rgba(36,155,195,1) 100%);
	background: -o-linear-gradient(45deg, rgba(0,145,189,1) 0%, rgba(0,145,189,1) 50%, rgba(36,155,195,1) 50%, rgba(36,155,195,1) 51%, rgba(36,155,195,1) 71%, rgba(36,155,195,1) 100%);
	background: -ms-linear-gradient(45deg, rgba(0,145,189,1) 0%, rgba(0,145,189,1) 50%, rgba(36,155,195,1) 50%, rgba(36,155,195,1) 51%, rgba(36,155,195,1) 71%, rgba(36,155,195,1) 100%);
	background: linear-gradient(45deg, rgba(0,145,189,1) 0%, rgba(0,145,189,1) 50%, rgba(36,155,195,1) 50%, rgba(36,155,195,1) 51%, rgba(36,155,195,1) 71%, rgba(36,155,195,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0091bd', endColorstr='#249bc3', GradientType=1 );

	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 1px solid #0092BD;

	z-index: 30;
}

.main-container--container {
	height: 92vh;
	overflow-y: auto;
}

.main-container--container::-webkit-scrollbar {
	width: 10px;
}

/* Track */
.main-container--container::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
.main-container--container::-webkit-scrollbar-thumb {
	background: #aaa;
	border-radius: 5px;
	height: 30px;
}

/* Handle on hover */
.main-container--container::-webkit-scrollbar-thumb:hover {
	background: #555;
}
