.add-company {
    float: right;
    margin: 0 auto !important;
}

.btn-file {
    border: 1px solid #dddddd !important;
    padding: 0 1.2em !important;
    border-radius: 0 5px 5px 0 !important;
    height: 32px;
}

.button-search-contract {
    border: 0 !important;
    border-radius: 0 5px 5px 0 !important;
}

.btn-circle {
    border-radius: 15px;
    height: 30px;
    font-size: 12px;
    line-height: 1.428571429;
    margin: 5px;
    padding: 6px 0;
    text-align: center;
    width: 30px;
    &.red {
        background-color: $red !important;
    }
}

.btn-circle.btn-lg {
    width: 50px;
    height: 50px;
    padding: 10px 16px;
    font-size: 18px;
    line-height: 1.33;
    border-radius: 25px;
  }

  .buttons-group-right {
      text-align: right;
  }
