.add-company {
    margin: 0 auto !important;
}

.btn-file {
    border: 1px solid #dddddd !important;
    padding: 0 1.2em !important;
    border-radius: 0 5px 5px 0 !important;
    height: 32px;
}

.button-search-contract {
    border: 0 !important;
    border-radius: 0 5px 5px 0 !important;
}
