@media only screen and (min-width: 576px) {
    .MuiModal-root-73 .select-form-customized {
        max-width: 251.5px;
    }
}

.input-form--file {
    max-width: 248px;
}

.input-name-file {
    height: 32px;
    width: 75%;
}

.input-search-contract {
    border-radius: 5px 0 0 5px !important;
}