@media only screen and (min-width: 576px) {
    .MuiModal-root-73 .select-form-customized {
        max-width: 251.5px;
    }
    .MuiModal-root-75 .select-form-customized {
        max-width: 251.5px;
    }
}

.input-form--file {
    max-width: 248px;
}

.input-name-file {
    height: 32px;
    width: 75%;
}

.input-search-contract {
    border-radius: 5px 0 0 5px !important;
    border-right: 0 !important;
}

.search-container {
    display: flex;
    width: 100%;
    .icon {
        background: transparent;
        border-radius: 0 5px 5px 0;
        border: $gray solid 1px;
        border-left: 0;
        color: $text-color;
        min-width: 50px;
        padding: 10px;
        text-align: center;
    }
}