body {
	background: $light-gray !important;
}

.main {
	background: transparent !important;
}

.main-container__title {
	text-transform: capitalize;
}

.table-elements {
	margin: 0 auto !important;
	li {
		padding: 5px !important;
	}
}

.cell-align-right {
	text-align: right !important;
}

.company-th, .contact-th {
	padding-right: 0 !important;
}

.logout-link {
	color: $white;
	margin-right: 1rem; 
	text-decoration: none;
}

.social-link {
	text-decoration: none;
}