#agreement {
    padding-top: 100px;
    padding-bottom: 100px;
    padding-right: 150px;
    padding-left: 80px;
}

.modal {
    &-overflow {
        overflow-x: scroll;
        .list-item-container-scroll {
            min-width: 500px;
        }
    }
}

.MuiDialog-paperFullScreen-174 {
    width: 80% !important;
}

@media only screen and (max-width: 480px) {
    .select-form-customized {
        width: 100% !important;
    }
}

// div[class*="MuiSnackbar-root-"] {
//     z-index: 2000 !important;
// }