.modal {
    &-overflow {
        overflow-x: scroll;
        .list-item-container-scroll {
            min-width: 500px;
        }
    }
}


@media only screen and (max-width: 480px) {
    .select-form-customized {
        width: 100% !important;
    }
}

// div[class*="MuiSnackbar-root-"] {
//     z-index: 2000 !important;
// }