.Table {
    border-radius: $border-radius-standar;
    overflow: hidden;
    &-head {
        background-color: $brand-primary !important;
        font-size: $font-size-base !important;
        font-weight: 300 !important;
        &:first-child {
            border-radius: $border-radius-standar 0 0 0;
        }
        &:last-child {
            border-radius: 0 $border-radius-standar 0 0;
        }
    }
}