.Table {
    border-radius: $border-radius-standar;
    overflow: hidden;
    &-head {
        background-color: $brand-primary;
        font-size: $font-size-base !important;
        font-weight: 300 !important;
    }
}