.card {
    &-form-row{
        @media only screen and (max-width: 480px) {
            display: block !important;
            .input-form {
                width: 100% !important;
            }
        }
        @media only screen and (max-width: 768px) {
            .input-label {
                display: block !important;
            }
            .primary {
                margin-bottom: 1rem;
            }
        }
    }
    &-form-company {
        height: 665px;
        @media only screen and (max-width: 480px) {
            display: block !important;
            min-height: 765px;
            height: auto;
        }
    }
}

@media only screen and (max-width: 480px) {
    div[class*="MuiDialogContent-root-"] {
        min-width: auto !important;
    }
}