.company-card {
    height: 300px;
}

.department__header {
    @media only screen and (max-width: 480px) {
        display: block !important;
        height: auto !important;
        div[class*="withApollo-DepartmentsCompanyForm--root-"] {
            display: inline-block !important;
        }
    }
}

@media only screen and (max-width: 480px) {
    div[class*="MuiTabs-fixed-"] {
        overflow-x: scroll !important;
    }
}