.board {
    &-switch {
        margin-left: auto;
        position: relative;
        height: 30px;
        label {
            bottom: 0;
            position: absolute;
            right: -16px;
            transform: scale(0.5,0.5);
            width: 86px;
        }
    }
}