.input-form {
	width: 280px;
	padding: .5em;

	border: 1px solid #e6e6e6;
	border-radius: 5px;

	outline: none;
	transition: all .450s;
}
.input-form-date {
	font: 400 13px Arial;
}

._invalid {
	border-bottom: 1px solid;
	border-bottom-color: red;
}

.input-form:focus {
	border: 1px solid #3da2c7;
}

.input-form--textarea {
	width: 320px;
	height: 8vh;
}
