.worker-compensation-form {
    border-bottom: 1px solid #eeeeee;
    margin: 0;
    padding: 0;
}

.worker-compensation-footer {
    border-top: 1px solid #eeeeee;
    position: sticky;
    left: 0;
    bottom: 0;

    background: #FFFFFF;
    margin: 0 !important;
}

.no-margin {
    margin: 0;
    padding: 0;
}