body {
    position: relative;
}

.main-stepper-container {
    width: 100%;
    height: 100%;

    display: flex;
    flex-wrap: wrap;
}

.main-stepper-nav {
    width: 20%;
    height: 5vh !important;

    color: #3AC5F8;
    background: red;
}

.main-stepper-content {
    width: 80%;
    height: calc(100vh - 50px);

    overflow-y: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    padding-bottom: 10vh;
    padding-top: .5em;
    border-left: 1px solid #eeeeee;
    z-index: 20;
}

.label-stepper {
    color: #41afd7 !important;
}

.bottom-container-stepper {
    width: 80%;
    height: 70px;
    background: #ffffff;
    box-shadow: 3px -5px 8px #eeeeee;
    border-left: 1px solid #eeeeee;

    display: flex;
    justify-content: center;
    align-items: center;

    position: fixed;
    bottom: 0;
    right: 0;
}