%FormHeader {
    background: map-get($gray-shades, gray-2);
    border-bottom: solid 1px map-get($gray-shades, gray-3);
    margin-left: -15px;
    margin-right: -15px;
    padding-left: 30px;
    padding-right: 30px;
}

%react-datepicker {
    @extend .form-control;
}