.applicant-card__footer--background {
    width: 100%;
    height: 50px;

    display: flex;
    justify-content: center;
    align-items: flex-end;

    border-top: .5px solid #eeeeee;
}

.switch {
    margin-top: .5em !important;
}

.signature-form-section {
    margin: 1em .3em;
    display: flex;
    justify-content: center;
    align-items: center;

    border-bottom: 1px solid #999999;
    padding-bottom: 10px;
}

signature-form-canvas {
    width: 90%;
    height: 50px;
}

.privacy-policy-section {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-top: 1em;
}

.privacy-policy-section input {
    margin-right: .5em;
    margin-bottom: .3em;
}

.privacy-policy-section a {
    color: #41afd7;
    text-decoration: underline #41afd7;
}