.link {
	color: $brand-primary;
}

.main {
	background: transparent !important;
}

.main-container__title {
	text-transform: capitalize;	
}

.main-container__title-user {
	color: #ffffff;
    font-size: 1.1em;
    font-weight: 300;
	font-family: "Segoe UI";
	line-height: 1;
    // padding-left: 3rem;
}

.table-elements {
	margin: 0 auto !important;
	li {
		padding: 5px !important;
	}
}

.cell-align-right {
	text-align: right !important;
}

.col-right-wrapper {
	border-left: solid 1px $gray;
	@include media-breakpoint-down(md) {
		border-left: 0;
	}
}
.company-th,
.contact-th {
	padding-right: 0 !important;
}

.logout-link {
	color: $white;
	margin-right: 1rem;
	text-decoration: none;
}

.social-link {
	text-decoration: none;
}

.tumi-row-centered{
    align-items: center;
    display: flex;
    flex-direction: row;
	justify-content: center;
	
	padding: 5px;
}

// Prevents pagination controls from breaking out and cause a horizontal scroll
td[class^="MuiTableCell-root-"] > div[class^="MuiToolbar-root-"]{
	overflow-x: scroll; 
	overflow-y: hidden;
}