.submit, .reset {
    padding: .8em 1.5em;
    border: 1px solid #eeeeee;
    background: #41afd7;
    color: #ffffff;
    border-radius: 8px;
}

.reset {
    color: #41afd7;
    background: #ffffff;
    border-color: #41afd7;
}

.apply-form input {
    position: relative;
}

.apply-form input:required:focus:valid,
.apply-form input:optional:focus:valid,
.apply-form select:required:focus:valid {
    border-color: green;
}

.apply-form input:required:valid,
.apply-form input:optional:valid,
.apply-form select:required:valid  {
    border-color: green;
}


.apply-form input:required:valid + span::after,
.apply-form input:optional:valid + span::after,
.apply-form select:optional:valid + span::after{
    content: "\2713";
    color: green;
    margin-left: 5px;
}

.optional::after {
    content: "Optional";
    color: #888888;
    font-size: 11px;
    margin-left: 5px;
}

.invalid-apply-form {
    border: 1px solid orangered;
}

.title-skill-dialog {
    width: 100%;
    font-size: 1.2em;
    color: #41afd7 !important;
    padding: .75em;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: .5em;
}

.save-skill-button {
    background: #41afd7 !important;
    color: #ffffff !important;
}

.cancel-skill-button {
    background: rgba(85, 85, 85, 0.2) !important;
}