.submit, .reset {
    padding: .8em 1.5em;
    border: 1px solid #eeeeee;
    background: #41afd7;
    color: #ffffff;
    border-radius: 8px;
}

.reset {
    color: #41afd7;
    background: #ffffff;
    border-color: #41afd7;
}

form input {
    position: relative;
}

form input:required:focus:valid,
form input:optional:focus:valid,
form select:required:focus:valid {
    border-color: green;
}

form input:required:valid,
form input:optional:valid,
form select:required:valid  {
    border-color: green;
}


form input:required:valid + span::after,
form input:optional:valid + span::after,
form select:optional:valid + span::after{
    content: "\2713";
    color: green;
    margin-left: 5px;
}



i::after {
    content: "Optional";
    color: #888888;
    font-size: 11px;
    margin-left: 5px;
}

.invalid-apply-form {
    border: 1px solid red;
}