.submit, .reset {
    padding: .8em 1.5em;
    border: 1px solid #eeeeee;
    background: #41afd7;
    color: #ffffff;
    border-radius: 8px;
}

.reset {
    color: #41afd7;
    background: #ffffff;
    border-color: #41afd7;
}

.apply-form input {
    position: relative;
}

.apply-form input:required:focus:valid,
.apply-form input:optional:focus:valid,
.apply-form select:required:focus:valid {
    border-color: green;
}

.apply-form input:required:valid,
.apply-form input:optional:valid,
.apply-form select:required:valid {
    border-color: green;
}

.apply-form input:required:valid + span::after,
.apply-form input:optional:valid + span::after,
.apply-form select:optional:valid + span::after {
    content: "\2713";
    color: green;
    margin-left: 5px;
}

.optional::after {
    content: "Optional";
    color: #888888;
    font-size: 11px;
    margin-left: 5px;
}

.invalid-apply-form {
    border: 1px solid orangered;
}

.title-skill-dialog {
    width: 100%;
    font-size: 1.2em;
    color: #41afd7 !important;
    padding: .75em;
    border-bottom: 1px solid #e5e5e5;
    margin-bottom: .5em;
    font-weight: 300;
}

.save-skill-button,
.cancel-skill-button {
    border-radius: 20px !important;
    padding: .1em 2.5em !important;
}

.save-skill-button:hover,
.cancel-skill-button:hover {
    box-shadow: 1px 1px 5px #cccccc;
}

.save-skill-button {
    background: #41afd7 !important;
    color: #ffffff !important;
}

.cancel-skill-button {
    background: rgba(85, 85, 85, 0.2) !important;
}

/**
 * Skills Section
 */
.skills-container {
    width: 100%;
    padding: .75em;
    background: rgba(0, 0, 0, 0.01);
    border: 1px solid #efefef;

    border-radius: 5px;
    margin-bottom: 5px;
    color: #3ca2c8;
    font-weight: 100;

    position: relative;

    transition: all .800s;
}

.skills-container--header {
    border-radius: 5px 5px 0 0;
    color: #ffffff;
    background: #3ca2c8;
}

.textarea-apply-form {
    background: #ffffff !important;
    color: #555555 !important;
    resize: none;
}

.deleteSkillSection {
    position: absolute;
    top: 25%;
    right: 0;
    margin-right: .5em;
    cursor: pointer;
    padding: .2em;
    height: 1.8em;
    display: none !important;
    justify-content: center;
    align-items: center;

    border-radius: 10px !important;
    background: rgba(0, 0, 0, .08) !important;

    min-width: 15px !important;
}

.deleteSkillSection span {
    color: #999999;
}

.skills-container:hover .deleteSkillSection {
    display: flex !important;
}

.skills-container .row {
    transition: all .450s;
}






