#printPreview {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    padding-left: 0 .3em;
}

#printPreview table {
    font-family: sans-serif;
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
    table-layout: fixed;
    margin: 5px 10px;
}

#printPreview table thead tr th .long {
    display: block;
    color: #FFFFFF;
    text-align: center;
}

#printPreview table thead tr th {
    background: #4097be;
    color: #d1d5db;
    padding: 0.1em;
    overflow: hidden;
}

#printPreview table thead tr th:first-child {
    border-radius: 3px 0 0 0;
}

#printPreview table thead tr th:last-child {
    border-radius: 0 3px 0 0;
}

#printPreview table thead tr th .day {
    display: block;
    font-size: 1em;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    margin: 0 auto 5px;
    padding: 5px;
    line-height: 1.8;
    text-align: center;
    color: #FFFFFF;
}

#printPreview table thead tr th .day.active {
    background: #d1d5db;
    color: #626E7E;
}

#printPreview table thead tr th .short {
    display: none;
    text-align: center;
    color: #FFFFFF;
}

#printPreview table thead tr th i {
    vertical-align: middle;
    font-size: 2em;
}

#printPreview table tbody tr {
    background: #FFFFFF;
}

#printPreview table tbody tr:nth-child(odd) {
    background: #f9f9f9;
}

#printPreview table tbody tr:nth-child(4n+0) td {
    border-bottom: 1px solid #626E7E;
}

#printPreview table tbody tr td {
    text-align: center;
    vertical-align: middle;
    border-left: 1px solid #626E7E;
    position: relative;
    height: 15px;
    cursor: pointer;
}

#printPreview table tbody tr td:last-child {
    border-right: 1px solid #626E7E;
}

#printPreview table tbody tr td.hour {
    font-size: 1em;
    padding: 0;
    color: #626E7E;
    background: #fff;
    border-bottom: 1px solid #626E7E;
    border-collapse: separate;
    min-width: 100px;
    cursor: default;
}

#printPreview table tbody tr td.hour span {
    display: block;
}

@media (max-width: 60em) {

    #printPreview table thead tr th .long {
        display: none;
        color: #FFFFFF;
    }

    #printPreview table thead tr th .short {
        display: block;
        text-align: center;
    }

    #printPreview table tbody tr td.hour span {
        transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        -moz-transform: rotate(270deg);
    }

}
@media (max-width: 27em) {

    #printPreview table thead tr th {
        font-size: 65%;
    }

    #printPreview table thead tr th .day {
        display: block;
        font-size: 1.2em;
        border-radius: 50%;
        width: 20px;
        height: 20px;
        margin: 0 auto 5px;
        padding: 5px;
    }

    #printPreview table thead tr th .day.active {
        background: #d1d5db;
        color: #626E7E;
    }

    #printPreview table tbody tr td.hour {
        font-size: 1em;
    }

    #printPreview table tbody tr td.hour span {
        transform: translateY(16px) rotate(270deg);
        -webkit-transform: translateY(16px) rotate(270deg);
        -moz-transform: translateY(16px) rotate(270deg);
    }
}
