.Sidebar {
    background: $white;
    border-right: solid 1px map-get($gray-shades, gray-3);
    height: auto !important; /* Important rule for a modern browser */
    height: 100%; /* Minimum height for Internet Explorer */
    margin-left: -60px;
    margin-right: 1rem;
    margin-top: -30px;
    min-height: 100%; /* Minimum height for a modern browser */
    overflow: hidden !important; /* Firefox scroll-bar */
    padding-left: 22.5px;
    padding-top: 25px;
    padding-right: 22.5px;
    &-expanded {
        width: 292px;
    }
    &-reduced {
        width: 140px;
    }
    @include media-breakpoint-down(sm) {
        height: auto;
        margin-left: 0;
        margin-right: 0;
        margin-top: 0;
        width: 100%;
    }
}

.SidebarIconList {
    &-item {
        margin-bottom: 1rem;
        text-align: center;
    }
    &-title {
        color: $text-color;
        font-size: .8rem;
        display: block;
        font-weight: 500;
        &.withBadge:after {
            background: $brand-primary;
            border-radius: 3px;
            content: attr(data-value);
            color: $white;
            display: block;
            font-size: .7rem;
            height: 18px;
            line-height: 18px;
            margin: 0 auto;
            text-align: center;
            width: 18px;
        }
    }
}

.SidebarList {
    &-item {
        label {
            font-size: .8rem;
        }
    }
}

.withSidebar {
    &-content {
        width: calc(100% - 110px);
        @include media-breakpoint-down(sm) {
            width: 100%;
        }
    }
    &-wrapper {
        display: flex;
        flex-flow: row wrap;
    }
}