.panel-dropdown:hover {
    background: #f5f5f5;
}

.panel-body {
    background: #FFFFFF !important;

    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    width: 100% !important;
}

.table {
    border-radius: 5px !important;
    overflow: hidden !important;

    margin: 5px !important;
}


